/* RESET */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* debug */
    border: 2px solid black;
}

img {
    max-width: 100%;
}

:root {
    --font-size: 1.2rem ;
    --font-size-title:5rem;
    --font-size-section-title: 3rem;
}


/* COMMON */

.container-small {
    margin: 0 auto;
    width: 55%;

}

.container-large {
    margin: 0 auto;
    width:70%;
}

.title {
margin-top: 100px;
margin-bottom: 100px;
font-size: var(--font-size-title);
}

.section-title {
    font-size: var(--font-size-section-title);
    margin: 50px 0;
}


section {
    padding-top: 100px;
}

ul {
    list-style-type:none
}


.last-section {
    margin-bottom: 100px;
}

.ul-nav {
    height: 100px;
    align-items: center;
    gap: 1.5rem;
}

.blue-button {
    display: inline-block;
    background-color: blue;
    padding:8px;
    color: white !important;
    text-decoration: none;
    font-size: var(--font-size);
}

h4 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* UTILITY */

.flex-container {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
    padding: 0 10px;
    gap: 20px;
}


/* HEADER */
header {

}

/* navbar */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 100px;
    font-size: var(--font-size);
   
}


.navbar a {
    text-decoration: none;
    color: black;
}


/* hero */

.hero {
    background-color: hsl(207.06deg 51.52% 80.59%);
    padding-top: 20px;
}


.hero-content {
    justify-content: flex-end;
}


.hero-paragraph {
    width:35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--font-size);
    line-height: 1.5rem;
   
}

.fa-arrow-down {
    font-size: 4.5rem;
    margin-top: 50px;
}

.hero-img {
    width: 65%;
    position: relative;
  
}

.jumbo {
  width: 120%;
  max-width: none;
  position: absolute;
}


/* MAIN */


/* business-plan section */
.row {
    gap:20px;
    justify-content: center;
}

.col-plan {
    /* debug */
    min-height: 400px;
    width: calc( (100% - 40px ) / 3);
    background-color: yellow;
}

.checkbox-container {
    margin-bottom: 50px;
}

.checkbox {
    width: 20px; 
      height: 20px; 
      border-radius: 50%; 
      -webkit-appearance: none; 
      appearance: none; 
      border: 2px solid #000; 
      outline: none; 
      vertical-align: middle;
    }
    
    label {
        vertical-align: middle;
    }
    
    .checkbox:checked {
        border: 5px solid blue;
    }
    
    .user-type {
        text-align: center;
        min-height: 50px;
        align-items: center;
        justify-content: center;
        
    }

    .fa-check {
        color: blue;
    }


    hr {
        width: 50px;
        margin: 30px 0;
    }


/* contact-office section */

.contact-office-div {
    margin-top: 20px;
}


.contact-office {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.team-icon {
    min-height:50px;
    justify-content:center;
    align-items: center;
}

.custom-solution {
    padding: 20px;
    font-size: var(--font-size);
}
/* find-partner section */

.find-partner {

}

.find-partner-img {
    width: 60%;
}

.find-partner-paragraph {
    width:40%;
  

}
.find-partner-paragraph p {
    font-size: var(--font-size);
    line-height: 1.5rem;
    padding-left: 20px;
    

} 

.find-partner-button {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    width: max-content;
}


.img-partner {
    display: block;
}


/* dropbox actions section */

.row-actions {
    flex-wrap: wrap;
    gap:20px;
}

.col-action {
    width: calc(( 100% - 40px) / 3);
    /* debug */
    min-height: 300px;
    background-color: red;

}

/* team-mebers section */

.square {
    width: calc(100% / 3);
    /* debug */
    /* padding-top: calc(100% / 3); */
}

.left-square {
    /* debug */
    background-color: purple;
    flex-wrap: wrap;
}


.right-square {
    /* debug */
    background-color: green;
    flex-wrap: wrap;
}

.middle-square {
    /* debug */
    background-color: yellow;
}

.inside-square {
    width: calc(100% / 2);
    padding-top: calc(100% / 2);
}

/* free-trial section */

.free-trial {
    background-color: hsl(207.06deg 51.52% 80.59%);
}

.free-trial-div {
    justify-content: space-between;
    align-items: center;
}

.free-trial-button {
    /* debug */
    background-color: purple;
    color: white;
}


/* faq section */


/* FOOTER */

footer {
    background-color: hsl(0deg 0% 0%);
    min-height: 400px;
}

.footer-top {
    gap: 15px;
    padding: 50px 0;
}

.footer-col {
  width:calc((100% - 60px) / 5) ;
  /* debug */
  min-height: 300px;
  background-color: yellow;
}

.footer-bottom {
    /* debug */
    background-color: green ;
    min-height: 100px;
}