/* RESET */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --font-size: 1.6rem ;
    --font-size-title:5rem;
    --font-size-section-title: 3.6rem;
}


/* COMMON */

html {
    font-size:62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

.container-small {
    margin: 0 auto;
    width: 65%;
    max-width: 1300px;

}

.container-large {
    margin: 0 auto;
    width:75%;
    max-width: 1500px;
}



.title {
padding-top: 5rem;
padding-bottom: 50px;
font-size: var(--font-size-title);
}


section {
    padding-top: 100px;
}

ul {
    list-style-type:none;
}


.last-section {
    margin-bottom: 100px;
}

.ul-nav {
    height: 100px;
    align-items: center;
    gap: 3rem;
}

.blue-button {
    display: inline-block;
    background-color: blue;
    padding:8px;
    color: white !important;
    text-decoration: none;
    font-size: var(--font-size);
    text-align: center;
}

.blue-button:hover {
    background-color: rgb(11, 11, 156);
}

.white-button:hover {
    background-color: lightgray;
}

.col-40 {
    width:40%;
    align-self: flex-start;
    justify-content: flex-end;

}


/* UTILITY */

.flex-container {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
    padding: 0 10px;
    gap: 20px;
}


.mb-50px {
    margin-bottom: 50px;
}

.fw-bold {
    font-weight: bold;
}

.padding-side-20px{
    padding: 20px 20px;
}

.btn:hover {
    filter:brightness(2)
}

/* HEADER */


/* navbar */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 100px;
    font-size: var(--font-size);
}


.navbar a {
    text-decoration: none;
    color: black;
}


/* hero */

.hero {
    background-color: hsl(207.06deg 51.52% 80.59%);
}


.hero-content {
    justify-content: flex-end;
    position: relative;
    top:50px;
}


.hero-paragraph {
    width:35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: var(--font-size);
    line-height: 2.5rem;
   
}

.fa-arrow-down {
    font-size: 4.5rem;
    margin-top: 10px;
}

.hero-img {
    width: 65%;
}

.jumbo {
  width: 100%;
  max-width: none;
}

.icon-div a {
    color: #000;
}


/* MAIN */


/* business-plan section */

.business-plan h2 {
    margin-top: 60px;
    font-size: var(--font-size-section-title);

}

.row {
    gap:20px;
    justify-content: center;
}

.col-plan {
    width: calc( (100% - 40px ) / 3);
    border: 1px solid hsl(240deg 2.7% 85.49%);
    font-size: var(--font-size);
    padding: 0 2rem;
}

.col-plan h4 {
    font-size: 2rem;
}

.checkbox-container {
    margin-bottom: 50px;
    margin-top: 50px;
}

.checkbox {
     width: 20px; 
      height: 20px; 
      border-radius: 50%; 
      -webkit-appearance: none; 
      appearance: none; 
      border: 2px solid #000; 
      outline: none; 
      vertical-align: middle;
    }

    .checkbox-container label:first-of-type {
        margin-right: 4rem;
    }
    
    label {
        vertical-align: middle;
        font-size: var(--font-size);
        margin-left: 1rem;
    }

    
    
    .checkbox:checked {
        border: 5px solid blue;
    }
    
    .user-type {
        text-align: center;
        min-height: 50px;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid hsl(240deg 2.7% 85.49%);
        font-size: var(--font-size);
    }

    .fa-user, .fa-people-group, .fa-building {
        margin-right: 5px;
    }

    .fa-check {
        color: blue;
    }


    hr {
        width: 50px;
        margin: 30px 0;
        color: hsl(240deg 2.7% 85.49%);
    }

    .col-plan ul {
        margin-bottom: 50px;
    }

    .col-plan li {
        margin-top:20px;
    }


/* contact-office section */

.contact-office-div {
    margin-top: 20px;
    border: 1px solid hsl(240deg 2.7% 85.49%);
    font-size: var(--font-size);
}


.contact-office {
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}


.contact-office h4 {
    font-size: 3rem;
}

.team-icon {
    min-height:50px;
    justify-content:center;
    align-items: center;
    border-bottom: 1px solid hsl(240deg 2.7% 85.49%);
}


.custom-solution {
    font-size: var(--font-size);
    margin-top: 40px;
}





/* find-partner section */



.find-partner-img {
    width: 60%;
}

.find-partner-paragraph {
    width:40%;
}

.find-partner-paragraph h4 {
    margin-left: 20px;
    font-size: 3rem;
}

.find-partner-paragraph p {
    font-size: var(--font-size);
    line-height: 2.5rem;
    padding-left: 20px;
    

} 

.find-partner-button {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    width: max-content;
    margin-left:20px;
    font-size: var(--font-size);
}


.img-partner {
    display: block;
}


/* dropbox actions section */

.actions h2 {
    font-size: 3.5rem;
   
}

.row-actions {
    flex-wrap: wrap;
    gap:20px;
}

.col-action {
    width: calc(( 100% - 40px) / 3);
  

}

.col-action h4 {
    font-size: 2rem;
    margin: 2rem 0;
}

.col-action p {
    line-height: 3rem;
    font-size: var(--font-size);
}


/* client-section*/

.client h2 {
    font-size: 3.5rem;
    margin: 100px 0 50px;

}

.client a {
    font-size: var(--font-size);

}



/* team-members section */

.square {
    width: calc(100% / 3);
}


.left-square {
    flex-wrap: wrap;
}


.right-square {
    flex-wrap: wrap;
}

.middle-square {
    overflow-y: auto;
    background-color: hsl(0deg 0% 96.08%);
    height: calc(100vw / 3);
    padding: 3.5rem ;
}


.middle-square h4 {
    font-size: 2.5rem;
    white-space: nowrap;
}

.middle-square p {
    font-size: var(--font-size);

}

.middle-square p:nth-of-type(2) {
    margin-bottom: 40px 0;
}



.middle-square p:last-child {
    margin-top: 4rem;
}

.middle-square h4 {
    font-size: var(--font-size-title);
}


.middle-square hr {
color:hsl(0, 11%, 75%);
width:25%;
}

.fa-registered {
    font-size: 1.5rem;
    position: relative;
    bottom:2.8rem;
    right:1.5rem;
}

.middle-square span {
    font-weight: bold;
}

.inside-square {
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    position: relative;
    padding: calc(100% / 4);
}

.inside-square img {
    position: absolute;
    padding:30px;
    margin: auto;
    color: white;
}


.left-square div:nth-of-type(1) {
    background-color: hsl(112.5deg 38.89% 71.76%);
    border: 15px solid hsl(111.43deg 38.89% 85.88%);
    padding: calc((100% - 60px) / 4);

   
}
.left-square div:nth-of-type(2) {
    background-color: hsl(197.18deg 100% 40.39%);
}
.left-square div:nth-of-type(3) {
    background-color: hsl(336.4deg 84.76% 20.59%);
}
.left-square div:nth-of-type(4) {
    background-color: hsl(0deg 100% 55.49%);
}



.right-square div:nth-of-type(1) {
    background-color: hsl(351.27deg 100% 41.76%)
   
}
.right-square div:nth-of-type(2) {
    background-color: hsl(207.06deg 51.52% 80.59%);
   
}
.right-square div:nth-of-type(3) {
    background-color: hsl(228.1deg 81.69% 27.84% );
   
}
.right-square div:nth-of-type(4) {
    background-color: hsl(48.7deg 100% 59.41%)
   
}

/* free-trial section */

.free-trial {
    background-color: hsl(207.06deg 51.52% 80.59%);
    align-items: center;
    padding: 100px 0;
}

.free-trial-div {
    justify-content: space-between;
    align-items: flex-start;
}

.free-trial-div h2 {
    font-size: 3.5rem;
    width: 60%;
}

.free-trial-button {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    padding: 1rem;
    color: black;
    font-size: var(--font-size);
}


/* faq section */

.question-section h2 {
    font-size: 2.5rem;
}

.question {
    border-bottom: .8px solid black;
}

.first-question {
    border-top: .8px solid black;
    margin-top: 50px;
}

.question {
    justify-content: space-between;
    padding: 5rem 0;
}

.frequent-question {
    font-size: var(--font-size);
    font-weight: bold;
}


.answer {
    line-height: 3rem;
    margin-top: 3rem;
    font-size: var(--font-size);
    opacity: 0; /* avevo messo display:"none", ma non potevo fare transizioni (anche se scorreva meglio) */
    position:absolute;
    transition: all .8s ease-in;
    
    
}

.fa-angle-down {
    transition: all .8s;
    font-size: var(--font-size);
    margin-right: 50px;

}

.question:hover {
    display: flex;
    flex-wrap: wrap;
    
}
.question:hover .fa-angle-down {
   transform: rotate(180deg);
}


.question:hover .answer {
    position: static;
    opacity: 1;
}




/* FOOTER */

footer {
    background-color: hsl(0deg 0% 0%);
    min-height: 400px;
    color: white;
    font-size: var(--font-size);
}

.footer-top {
    gap: 15px;
    padding: 50px 0;
}

.footer-col {
  width:calc((100% - 60px) / 5) ;

}

.footer-bottom {
    min-height: 100px;
}

.footer-col a {
    color: white;
    text-decoration: none;
    line-height: 3.5rem;
}

.footer-hr {
   border: 1px solid white;
    width: calc( 100% / 8);
    margin-top: 0;
}

.select-language span {
    margin:0 .2rem 0 .5rem;
    font-size: var(--font-size);

}

.fa-caret-up {
    margin-left: .3rem;
    top: .1rem;
    position: relative;
}
